#viewlet-texttospeech
{
    min-height: 1.2em;
    display: block;
	padding: 0;
    text-align: right;
    margin: 0 0 0 2em;
    width: auto;
    float: right;;
}
#viewlet-texttospeech > button
{
    display: none;
}
#texttospeech-button
{
    cursor: pointer;
}
#texttospeech-button.stopped:before
{
    content: "🔊 ";
}
#texttospeech-button.playing:before
{
    content: "⏸ ";
}
#texttospeech-button.paused:before
{
    content: "▶ ";
}
